#logo_upper{
    width: 20%;
}
.logo_tag_line{
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2vw;
    letter-spacing: 1px;
    word-spacing: -4px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    }
.logo_inline{
    display: inline;
    margin-right:1vw;
    padding-left:1vw;

}
.soc-icons{
    width: 3vw;
}
#menu_icon{
    width: 40px;
}
#navigation_badges{
    margin: auto;
}
.nav_links{
    font-family: "Lucida Console", Monaco, monospace;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
#intro_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.center{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
a#back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: url("assets\\up.svg") no-repeat 50%;
	border-radius: 15px;
}